USE [master]
GO
/****** Object:  Database [CJ3028224PR2]    Script Date: 19/08/2025 09:58:41 ******/
CREATE DATABASE [CJ3028224PR2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CJ3028224PR2', FILENAME = N'/var/opt/mssql/data/CJ3028224PR2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CJ3028224PR2_log', FILENAME = N'/var/opt/mssql/data/CJ3028224PR2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CJ3028224PR2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CJ3028224PR2]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 19/08/2025 09:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](150) NOT NULL,
	[CPF_CNPJ] [nvarchar](20) NOT NULL,
	[Endereco] [nvarchar](250) NULL,
	[Email] [nvarchar](100) NULL,
	[Telefone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContratosGerados]    Script Date: 19/08/2025 09:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContratosGerados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NULL,
	[IdModelo] [int] NULL,
	[DataGeracao] [datetime] NOT NULL,
	[CaminhoPDF] [nvarchar](250) NOT NULL,
	[DadosPreenchidos] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModelosContrato]    Script Date: 19/08/2025 09:58:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModelosContrato](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomeModelo] [nvarchar](150) NOT NULL,
	[TextoModelo] [nvarchar](max) NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ContratosGerados] ADD  DEFAULT (getdate()) FOR [DataGeracao]
GO
ALTER TABLE [dbo].[ModelosContrato] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[ContratosGerados]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[ContratosGerados]  WITH CHECK ADD FOREIGN KEY([IdModelo])
REFERENCES [dbo].[ModelosContrato] ([Id])
GO
USE [master]
GO
